root = true

[*]
indent_style = tab
indent_size = 4
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true
end_of_line = lf
max_line_length = off

[*.{yml,yaml}]
indent_style = space
indent_size = 2

[/docs/microsoft-edge-policies.md]
indent_style = unset
indent_size = unset
charset = unset
trim_trailing_whitespace = unset
insert_final_newline = unset
end_of_line = unset
max_line_length = unset

[/docs/html/*]
indent_style = unset
indent_size = unset
charset = unset
trim_trailing_whitespace = unset
insert_final_newline = unset
end_of_line = unset
max_line_length = unset

[/docs/policy-groups-min.json]
indent_style = unset
indent_size = unset
charset = unset
trim_trailing_whitespace = unset
insert_final_newline = unset
end_of_line = unset
max_line_length = unset

[/docs/policy-groups.json]
indent_style = unset
indent_size = unset
charset = unset
trim_trailing_whitespace = unset
insert_final_newline = unset
end_of_line = unset
max_line_length = unset
